.item h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #f4f4f4;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #404040;
  color: white;
  font-size: 1.5rem;
}

.item p {
  color: rgb(216, 216, 216);
}

.actions {
  display: flex;
  justify-content: flex-end;
}