.item {
  background-color: #575757;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 10px;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  background-color: #ffffff41;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-radius: 10px;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: 700;
  width: 30px;
  color: white;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4b4b;
  color: white;
}
