.cart {
  max-width: 30rem;
  background-color: #313131;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 5%;
}

.cart h3 {
  font-size: 1.25rem;
  margin-top: 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.empty {
  width: 100%;
  text-align: center;
}