.header {
  height: 5rem;
  padding: 0.5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ffffff41;
  background-color: #181818;
}

.header h1 {
  color: white;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  height: 100px;
  border-top: 1px solid #ffffff41;
  background-color: #181818;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
